[package]
name = "anyml_macros"
version = "0.0.0"
edition = "2024"
description = "Proc macros for anyml."
license = "MIT"

[lib]
proc-macro = true

[dependencies]
proc-macro2 = "1"
quote = "1"
syn = { version = "2", features = ["full"] }
